{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [grisp_keychain]}
]}.

{project_plugins, [rebar3_ex_doc]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"CHANGELOG.md", #{title => "Changelog"}},
        {"LICENSE.md", #{title => "License"}}
    ]},
    {main, "README.md"},
    {homepage_url, "https://github.com/grisp/grisp_keychain"},
    {source_url, <<"https://github.com/grisp/grisp_keychain">>},
    {api_reference, true}
]}.

{hex, [{doc, ex_doc}]}.

{dialyzer, [
    {plt_extra_apps, [ssl, public_key, crypto]}
]}.
